{{if page.bumper}}
<section class="hero is-night has-text-centered" id="bumper">
  <div class="hero-body">
    <div class="container">
      <a id="title">
        <h2 class="title has-text-centered">{{page.bumper-title}}</h2>
      </a>
      <a  id="title">
        <h3 class="subtitle has-text-centered">{{page.bumper-subtitle}}</h3>
      </a>
    </div>
    {% if page.bumper-link%}
    <div class="container">
      <a href="{{page.bumper-link}}"
        class="button is-black is-rounded is-outlined is-uppercase has-text-weight-normal">VOTE!</a>
    </div>
    {% endif %}
  </div>
</section>
