<section class="hero" id="dropdowns">
  <div class="container has-text-centered">
    <p id="longread" ></p>
    <h1 class="title has-text-white is-size-4 is-uppercase has-text-weight-bold">Regulating the use and availability of cigarettes to persons under 18 years old</h1>
    <p>{{page.ddblock1}}</p>
    <button type="button" class="collapsible">More information:</button>
    <div class="collapsible-content">
      <p> {{page.dddrop1}}</p>
    </div>
  </div>
  <div class="container">
    <a href="https://bit.ly/sofiavote"
      class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Vote for this proposal.</a>
  </div>
  <div class="container has-text-centered">
    <h1 class="title has-text-white is-size-4 is-uppercase has-text-weight-bold">Steering youth with the necessary resources onto their desired career paths</h1>
    <p>{{page.ddblock2}}</p>
    <button type="button" class="collapsible">More information:</button>
    <div class="collapsible-content">
      <p>{{page.dddrop2}}</p>
    </div>
    <div class="container">
      <a href="https://bit.ly/sofiavote  "
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Vote for this proposal.</a>
    </div>
  </div>
</section>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>