<section class="hero" id="dropdowns">
  <div class="container has-text-centered">
    <p>Topic: Regulating the use and availability of cigarettes to persons under 18 years old

    In Bulgaria it is very common to see the young and even minors smoking in public places including schools. Despite existing national laws that prohibit the sale of cigarettes to those under 18 years of age, there is little done to enforce this. Moreover, while smoking is injurious to health, there is a great lack of education in schools on the negative effects of smoking on the user, society and the environment. We want a healthy youth of today to lead a brighter tomorrow, not just in Bulgaria but all across Europe as underaged smoking is not a problem only in Bulgaria but it is also present in multiple Member States in the EU.

    (Expanded text tbc from above)
    We believe that change is more effective when applied from an earlier stage. This is especially applicable in the case of smoking which only gets more difficult to quit when the habit is formed. As such, we believe that enhanced methods of education and awareness on the negative effects of smoking will help to act as a deterrence to underaged smoking. Likewise, youth who already have begun smoking and wish to quit must be assisted with the necessary means to break this habit. Therefore, this initiative of ours looks at enabling young people to make smarter choices about their health, well-being and future by avoiding the use of cigarettes.
    </p>
    <button type="button" class="collapsible">Read More</button>
    <div class="collapsible-content">
      <p>We believe that change is more effective when applied from an earlier stage. This is especially applicable in the case of smoking which only gets more difficult to quit when the habit is formed. As such, we believe that enhanced methods of education and awareness on the negative effects of smoking will help to act as a deterrence to underaged smoking. Likewise, youth who already have begun smoking and wish to quit must be assisted with the necessary means to break this habit. Therefore, this initiative of ours looks at enabling young people to make smarter choices about their health, well-being and future by avoiding the use of cigarettes. 
      </p>
    </div>
  </div>
  <div class="container has-text-centered">
    <p>Topic: Regulating the use and availability of cigarettes to persons under 18 years old

    In Bulgaria it is very common to see the young and even minors smoking in public places including schools. Despite existing national laws that prohibit the sale of cigarettes to those under 18 years of age, there is little done to enforce this. Moreover, while smoking is injurious to health, there is a great lack of education in schools on the negative effects of smoking on the user, society and the environment. We want a healthy youth of today to lead a brighter tomorrow, not just in Bulgaria but all across Europe as underaged smoking is not a problem only in Bulgaria but it is also present in multiple Member States in the EU.

    (Expanded text tbc from above)
    We believe that change is more effective when applied from an earlier stage. This is especially applicable in the case of smoking which only gets more difficult to quit when the habit is formed. As such, we believe that enhanced methods of education and awareness on the negative effects of smoking will help to act as a deterrence to underaged smoking. Likewise, youth who already have begun smoking and wish to quit must be assisted with the necessary means to break this habit. Therefore, this initiative of ours looks at enabling young people to make smarter choices about their health, well-being and future by avoiding the use of cigarettes.
    </p>
    <button type="button" class="collapsible">Read More</button>
    <div class="collapsible-content">
      <p>We believe that change is more effective when applied from an earlier stage. This is especially applicable in the case of smoking which only gets more difficult to quit when the habit is formed. As such, we believe that enhanced methods of education and awareness on the negative effects of smoking will help to act as a deterrence to underaged smoking. Likewise, youth who already have begun smoking and wish to quit must be assisted with the necessary means to break this habit. Therefore, this initiative of ours looks at enabling young people to make smarter choices about their health, well-being and future by avoiding the use of cigarettes. 
      </p>
    </div>
  </div>
  <div class="container has-text-centered">
    <p>Topic: Regulating the use and availability of cigarettes to persons under 18 years old

    In Bulgaria it is very common to see the young and even minors smoking in public places including schools. Despite existing national laws that prohibit the sale of cigarettes to those under 18 years of age, there is little done to enforce this. Moreover, while smoking is injurious to health, there is a great lack of education in schools on the negative effects of smoking on the user, society and the environment. We want a healthy youth of today to lead a brighter tomorrow, not just in Bulgaria but all across Europe as underaged smoking is not a problem only in Bulgaria but it is also present in multiple Member States in the EU.

    (Expanded text tbc from above)
    We believe that change is more effective when applied from an earlier stage. This is especially applicable in the case of smoking which only gets more difficult to quit when the habit is formed. As such, we believe that enhanced methods of education and awareness on the negative effects of smoking will help to act as a deterrence to underaged smoking. Likewise, youth who already have begun smoking and wish to quit must be assisted with the necessary means to break this habit. Therefore, this initiative of ours looks at enabling young people to make smarter choices about their health, well-being and future by avoiding the use of cigarettes.
    </p>
    <button type="button" class="collapsible">Read More</button>
    <div class="collapsible-content">
      <p>We believe that change is more effective when applied from an earlier stage. This is especially applicable in the case of smoking which only gets more difficult to quit when the habit is formed. As such, we believe that enhanced methods of education and awareness on the negative effects of smoking will help to act as a deterrence to underaged smoking. Likewise, youth who already have begun smoking and wish to quit must be assisted with the necessary means to break this habit. Therefore, this initiative of ours looks at enabling young people to make smarter choices about their health, well-being and future by avoiding the use of cigarettes. 
      </p>
    </div>
  </div>
</section>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>