<section class="hero" id="dropdowns">
  <div class="container has-text-centered">
    <h1 class="title has-text-white is-size-4 is-uppercase has-text-weight-bold">Regulating the use and availability of cigarettes to persons under 18 years old</h1>
    <p>In Bulgaria it is very common to see the young and even minors smoking in public places including schools. Despite existing national laws that prohibit the sale of cigarettes to those under 18 years of age, there is little done to enforce this. Moreover, while smoking is injurious to health, there is a great lack of education in schools on the negative effects of smoking on the user, society and the environment. We want a healthy youth of today to lead a brighter tomorrow, not just in Bulgaria but all across Europe as underaged smoking is not a problem only in Bulgaria but it is also present in multiple Member States in the EU.

    (Expanded text tbc from above)
    We believe that change is more effective when applied from an earlier stage. This is especially applicable in the case of smoking which only gets more difficult to quit when the habit is formed. As such, we believe that enhanced methods of education and awareness on the negative effects of smoking will help to act as a deterrence to underaged smoking. Likewise, youth who already have begun smoking and wish to quit must be assisted with the necessary means to break this habit. Therefore, this initiative of ours looks at enabling young people to make smarter choices about their health, well-being and future by avoiding the use of cigarettes.
    </p>
    <button type="button" class="collapsible">More information:</button>
    <div class="collapsible-content">
      <p>We believe that change is more effective when applied from an earlier stage. This is especially applicable in the case of smoking which only gets more difficult to quit when the habit is formed. As such, we believe that enhanced methods of education and awareness on the negative effects of smoking will help to act as a deterrence to underaged smoking. Likewise, youth who already have begun smoking and wish to quit must be assisted with the necessary means to break this habit. Therefore, this initiative of ours looks at enabling young people to make smarter choices about their health, well-being and future by avoiding the use of cigarettes. 
      </p>
    </div>
  </div>
  <div class="container has-text-centered">
    <h1 class="title has-text-white is-size-4 is-uppercase has-text-weight-bold">Steering youth with the necessary resources onto their desired career paths</h1>
    <p>A wide-spread problem among youth is finding the right or suitable career path. This problem largely arises due to countless disorganised sources and information of little effective use. Additionally, with the lack of guidance and understanding, there is little done to guide youth at-large with this. Moreover, we also note the discrimination stemming from misinformed societal notions faced by youth from marginalized groups especially when they are entering the job market. As such, we want informed youth, equipped with the right skillset to jointly build a future for themselves and contribute to society in bountiful manners, as this problem of having a lack of guidance in seeking the right career path is not just one faced in Bulgaria but across Europe. 
    </p>
    <button type="button" class="collapsible">More information:</button>
    <div class="collapsible-content">
      <p>We believe that having better access to more organised and verified job-specific information will be very useful for youth when seeking a right or suitable career path. Similarly, we also want to have the right means to fight discrimination in our society and help youth from a marginalized background in bettering their education, job and future prospects. Therefore, this initiative of ours believes that with enhanced awareness along with a coordinated fight against disinformation and misinformation, we are able to tackle the main issue of enabling a better career path for youth from all backgrounds. As Franklin D. Roosevelt said, “We cannot always build the future for our youth but we can build our youth for the future.”
      </p>
    </div>
  </div>
</section>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>