<section class="hero is-medium" id="foldblocks">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-blue">
                <h1 class="title">What?</h1>
                The ECI is a mechanism of the European Union enabling direct democratic participation of EU citizens.
            </div> 
            <div class="column is-yellow">
                <h1 class="title">How</h1>
                The ECI is a mechanism of the European Union enabling direct democratic participation of EU citizens.
            </div>
            <div class="column is-blue">
                <h1 class="title">When</h1>
                The ECI is a mechanism of the European Union enabling direct democratic participation of EU citizens.
            </div>
        </div>
    </div>
</section>