<section class="hero" id="foldblocks">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-blue">
                <h1 class="title">What?</h1>
                a mechanism of the European Union enabling direct democratic participation of EU citizens.
            </div> 
            <div class="column is-yellow">
                <h1 class="title">How</h1>
                Citizens living all over the EU can start an initiative.
            </div>
            <div class="column is-blue">
                <h1 class="title">When</h1>
                It is a form of active citizenship and the only way to influence the decision making process of the EU as a citizen, all of which strengthens European values and democracy.
            </div>
        </div>
    </div>
</section>