<div class="socialbar" id="socialbar">
  <div class="buttons">
    <a href="https://www.facebook.com/MEUSofia" target="_blank">
      <button class="button is-info">
        <span class"icon is-small" >
          <i class="fab fa-facebook"></i>
        </span>
      </button>
    </a>
  </div>
  <div class="buttons">
    <a href="https://www.instagram.com/meusofia/" target="_blank">
      <button class="button is-link">
        <span class"icon is-small">
        <i class="fab fa-instagram"></i>
        </span>
      </button>
    </a>
  </div>
</div>
